@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/zuj6prm.css");

h1 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 300;
    font-style: normal;
}